{% if latest_question_list %}
	<ul>
		{% for question in latest_question_list %}
			<li><a href="/myapp/{{ question.id }}/">{{ question.question_text }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No Polls Available Here.</p>
{% endif %}